<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<context-param>
	    <param-name>spring.profiles.active</param-name>
	    <param-value>local</param-value>
	</context-param>	
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>		
	</servlet-mapping>

	<!-- <filter>
		<filter-name>errorHandlerFilter</filter-name>
		<filter-class>com.databuck.security.ErrorHandleFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>errorHandlerFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->

	<error-page>
		<error-code>404</error-code>
		<location>/notFound</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/loginPage</location>
	</error-page>
</web-app>